.square{
    border: 5px solid black;
    background-image: url(../img/cloud.png);
    height: 30px;
    width: 100px;
    border-radius: 30px;
    position: relative;
}
.square:hover{
    animation-name: colourchange 5s ease-in 1s 1 normal;
}
@keyframes colourchange{
    0%{background-image: url(../img/cloud.png);}
    100%{background-image: url(../img/night.png);}
}
.circle{
    border: 1px solid red;
    background-color: red;
    height: 25px;
    width: 25px;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    transition: 1s;
    transition: background-color 1s;
}
.circle:active{
    transform: translate(75px, 0px);
    transform: blue;
    
}
